<% provide(:title, "About") %>

<div class="about">
  
  <div class="about-text">
    
    <h1 class="about-title">About Us</h1>
    
    <div class="about-info">
      
      <p class="about-description">
        We believe that good performance management is critical for companies and 
        employees to be successful. Unfortunately, the process is often painful, but 
        we don’t think it has to be that way.
      </p>
      
      <p class="about-description">
        By helping companies streamline their performance management processes and 
        giving them great software, we hope to give people the best parts of 
        performance management without all the pain. At our best, we help people 
        get the feedback they need to grow, know where they stand, and have a 
        clear idea of how their work moves their organization forward.
      </p>
      
      <p class="about-description">
        People spend most of their waking hours at work - our goal is to make 
        those hours better.
      </p>
    </div>
    
    <%= link_to '#', class: "button-green button" do %>
      Try for free
      <i class="fa fa-angle-right"></i>
    <% end %>
  </div>
  
  <div class="about-image-a image"
       style="background-image: url('https://images.unsplash.com/photo-1416339684178-3a239570f315?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80')"></div>

  <div class="about-image-b image"
       style="background-image: url('https://images.unsplash.com/photo-1540397347091-1f1df8f56f4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80')"></div>

  <div class="about-image-c image"
       style="background-image: url('https://images.unsplash.com/photo-1524758870432-af57e54afa26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80')"></div>
</div>