<div class="ui">
  
  <div class="sidebar">
    
    <h3 class="sidebar-logo">penguin</h3>
    
    <%= link_to dashboard_path, class: "sidebar-link" do %>
      <i class="fa fa-lg fa-home"></i>
      Home
    <% end %>
    
    <%= link_to dashboard_path, class: "sidebar-link" do %>
      <i class="fa fa-lg fa-home"></i>
      One-on-One's
    <% end %>
  </div>
  
  <div class="main">
    <div class="aec-full-message-w show-pack">
      
      <div class="more-messages">More messages</div>
      
      <div class="aec-full-message">
        This is a test.
      </div>
    </div>
  </div>
</div>