<% provide(:title, "Performance Management") %>

<%= render 'layouts/header_primary' %>

<div class="hero">
  
  <div class="hero-text"> 
  
     <h1 class="hero-title">We transform brands, from the inside out.</h1>
       
     <p class="hero-description">
       Anchored in simplicity, our strategic design clarifies purpose, inspires
       loyalty, and helps you stand out in the crowd.
     </p>
     
     <%= link_to '#', class: "btn-green btn-secondary btn" do %>
       Try for free
       <i class="fa fa-angle-right"></i>
     <% end %>
  </div>
  
  <div class="hero-image image" 
       style="background-image: url('https://performance-management-assets.s3.amazonaws.com/static-assets/cover-photo.jpeg')">
  </div>
</div>

<%= render 'layouts/footer' %>